<ion-view view-title="Your Cart">
    <ion-content>
        <div class="cate-lv2">
            <div class="card cate-lv2-item" ng-repeat="product in selectedProducts">
                <div class="item item-thumbnail-left item-text-wrap">
                    <img ng-src="img/{{ product.image }}" width="100px" height="100px">


                    <h2>{{product.name}}</h2>
                    <h2>{{product.cantid}}</h2>
                    <div class="product-info">
                        <div class="price">₹{{product.price}}</div>
                        <p>x</p>
                        <input type="text" disabled class="input-quantity" placeholder="" value="{{product.quantity}}" />
                        <a class="product-delete"><i class="ion-android-delete" data-ng-click="deleteCheckout(product)"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="total-prices">
            <strong>Total</strong>
            <span>₹{{totalPrice}}</span>
            <div class="clearfix"></div>
        </div>

       <div class="btn-checkout">
         <a ng-if="totalPrice" href="#/app/address"><button class="button button-block button-calm"  ng-click="submitFunction()">
                Confirm Order
            </button></a>
           
      <!--  <input type="button" class="button button-block button-calm"  ng-click="submitFunction(product)">Confirm Order-->
            <div class="clearfix"></div>
            <div ng-if="!totalPrice" class="emptyCart">
            <p style="color:red"> Your Cart is empty , please select some item from menu</p>
            <a href="index.html" onClick="window.location.reload();"><button class="button button-block button-dark">
                Go To Home Page
            </button></a>
                </div>
        </div>
    </ion-content>
</ion-view>
