<ion-view view-title="Contact Us">
  <ion-content>
      <div class="list card">
          <div class="item item-icon-left">
            <i class="icon ion-home"></i>
                <h4>Address:</h4>
      
                Bansthali Vidyapith<br />
                P.O Banasthali Vidyapeeth<br />
                Rajsthan.
          </div>
           <div class="item item-icon-left">
            <i class="icon ion-chatbubble-working"></i><h4>Call Us :</h4>
            <i class="icon ion-ios-telephone-outline"></i> +917062368302
          </div>
           <div class="item item-icon-left">
                <i class="icon ion-email"></i><h4>Mail Us :</h4>
                bansthalividyapeeth@gmail.com.
          </div>
      </div>
  </ion-content>
    
    
</ion-view>
