
<ion-view view-title="Menu">
    
    <ion-header-bar class="bar-light bar-subheader">
      <input type="search"
             placeholder="Search Products..."
             ng-model="search"
             ng-focus="searchFocused = true"
             ng-blur="searchFocused = false"
             ng-change="scrollTop()"
             style="font-family: sans-serif;font-size:18px"
             class="full-width">
    </ion-header-bar>
    
  <ion-content has-header="true" padding="true">
    <div class="row unlimited-items"> 
    <div class="col" ng-repeat="product in products | filter :search ">
            <img ng-src="img/{{ product.image }}" width="100px" height="100px">
        
            <div><h4>{{ product.name }}</h4>
                
            <h5 style="color:blue">₹ {{ product.price}}</h5></div>
           
                
            <input type="number" name="quantity" id="no" ng-model = "product.quantity" value="" placeholder="0" min="1" max="100" />
             <button class="button button-block button-positive" data-ng-click="changeQuantity(product)">{{ myText }}</button>
            
        <hr />   
    </div>
    </div>
  </ion-content>
</ion-view>



